<ion-header>
  <ion-navbar >
   
     
      <ion-title style ="margin-left:80px">Broken Items Sale </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

  <ion-searchbar (ionInput)="g"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let person of persons" detail-push navPush="UpdatePage" [navParams]="{item: item}" >
      
    </ion-item>
  </ion-list>



                <ion-list>
                    <ion-item-sliding *ngFor="let item of items "async json>
                      <ion-item>
                        <ion-thumbnail item-start>
                          <!--ion-icon ios="iso-person" md="md-person"></ion-icon-->
                            <img src="../assets/imgs/user-512.png"/>
                        </ion-thumbnail>
                        <h2>{{item.inmae}}</h2>
                         
                        <p>Negotiable :{{item.nego}}</p>
                        <p>{{item.url}}</p>
                        <h2>Price :Rs{{item.price}}</h2>
                          
                      </ion-item>
                        <ion-item-options side="right">
                            <button ion-button color="secondary">
                            <ion-icon name="Delete" ></ion-icon>
                                Delete
                            </button>
                            <button ion-button color="secondary">
                                <ion-icon name="Update" (click)="update()"></ion-icon>
                                update
                            </button>
                          
                         
                        </ion-item-options>
                        <ion-item-options side="left">
                           

                            <button ion-button color="secondary">
                                <ion-icon name="chat" (click)="popup()"></ion-icon>
                                chat
                            </button>
                            
                            <button ion-button color="secondary">
                                <ion-icon name="call" (click)="presentConfirm()"></ion-icon>
                                call
                            </button>
                            <button ion-button (click)="offer()" color="primary">
                                
                                  <ion-icon ios="ios-add" md="md-add"></ion-icon>
                                  Offer
                              </button>
                            
                          </ion-item-options> 
                    </ion-item-sliding>

                </ion-list>
</ion-content>

