page-home {


    .bg-image{
        background-image: url('../assets/imgs/garbage3.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
             }
            }
    .error{
        > div{
        background-color:#E84B3A!important;
             }}

